@{
}

@model List<Actividad4LengProg3.Models.EstudianteViewModel>



<h2>Estudiantes Registrados</h2>

@if (TempData["Mensaje"] != null)
{
    <div class="alert alert-success">@TempData["Mensaje"]</div>
}


@if (Model != null && Model.Count > 0)
{
    <table class=" table table-hover">
        <thead>
            <tr>
                <th>Nombre Completo</th>
                <th>Matrícula</th>
                <th>Carrera</th>
                <th>Correo</th>
                <th>Teléfono</th>
                <th>Fecha Nac.</th>
                <th>Género</th>
                <th>Turno</th>
                <th>Tipo Ingreso</th>
                <th>Beca</th>
                <th>Porc. Beca</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var est in Model)
            {
                <tr>
                    <td>@est.nombre_estudiante</td>
                    <td>@est.matricula_estudiante</td>
                    <td>@est.carrera_estudiante</td>
                    <td>@est.correo_estudiante</td>
                    <td>@est.telefono_estudiante</td>
                    <td>@est.fecha_nacimiento.ToShortDateString()</td>
                    <td>@est.genero_estudiante</td>
                    <td>@est.turno</td>
                    <td>@est.tipo_ingreso</td>
                    <td>@(est.becado ? "Sí" : "No")</td>
                    <td>@est.porcentaje_beca %</td>
                    <td>
                        <a class="btn btn-success m-2" href="/Estudiantes/Editar?matricula=@est.matricula_estudiante">Editar</a>
                        <a class="btn btn-danger" href="/Estudiantes/Eliminar?matricula=@est.matricula_estudiante">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No hay estudiantes registrados aún.</p>
}