@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<Actividad4LengProg3.Models.MateriaViewModel>

<h2>
    Registro de Materias
</h2>

<br />

@if (TempData["Mensaje"] != null)
{
    <div class="alert alert-success">@TempData["Mensaje"]</div>
}

@if (Model != null && Model.Count > 0)
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Crédito</th>
                <th>Carrera</th>
                <th>Acción</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var mat in Model)
            {
                <tr>
                    <td>@mat.codigo</td>
                    <td>@mat.nombre_materia</td>
                    <td>@mat.creditos</td>
                    <td>@mat.carrera</td>
                    <td>
                        <a class="btn btn-success" href="/Materias/Editar?cod=@mat.codigo">Editar</a>
                        <a class="btn btn-danger" href="/Materias/Eliminar?cod=@mat.codigo">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No existen registros de materias.</p>
}


